{% extends "base.html" %}
{% block title %}Let's Play Bingo!{% endblock %}
{% block page_content %}
<div class="page-header">
<h1>Select your name to get a Bingo card</h1>
<h2><a href=https://mfbc.us/m/rjvmtk/1>Alice</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/2>Patrick</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/3>Clair</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/4>Anne</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/5>Filippo</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/6>Judy</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/7>Becky</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/8>Tom H.</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/9>Gina</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/10>Ben</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/11>Joanne Jr.</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/12>Tom B.</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/13>Eileen</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/14>Maureen</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/15>Joanne B.</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/16>Alice</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/17>Patrick</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/18>Clair</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/19>Anne</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/20>Filippo</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/21>Judy</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/22>Becky</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/23>Tom H.</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/24>Gina</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/25>Ben</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/26>Joanne Jr.</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/27>Tom B.</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/28>Eileen</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/29>Maureen</a></h2>
<h2><a href=https://mfbc.us/m/rjvmtk/30>Joanne B.</a></h2>
</div>
{% endblock %}
